* {
	  box-sizing: border-box;
	}

.column {
	display: grid;
	float: left;
	width: 50%;
	padding: 5px;
	height: 400px;
	background: black;
	border: 1px solid black;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

p.intro{
	color: Black;
}
h2.intro {
	color: Black;
}

/************************************** Apenas Imagens dos certificados ***************************/

img.certificadosDIO,
img.certificadosUdemy,
img.certificadosINDES,
img.certificadosBradesco,
img.certificadosKaSolution{
	position: relative;
	border: 1px solid black;
	width: 95%;
}

img.certificadosBradesco, img.certificadosKaSolution, img.certificadosDIO, img.certificadosINDES, img.certificadosUdemy {
  top: 0px;
}

img.certificadosBradesco {
	height: 92%;
}

img.certificadosKaSolution {
	height: 77%;
}

img.certificadosDIO, img.certificadosUdemy {
	height: 84%;
}

img.certificadosINDES {
	height: 93%;
}

/* CARROSSEL */

.tippy-box[data-animation=fade][data-state=hidden] {
 opacity:0
}
[data-tippy-root] {
 max-width:calc(100vw - 10px)
}
.tippy-box {
 position:relative;
 background-color:#333;
 color:#fff;
 border-radius:4px;
 font-size:14px;
 line-height:1.4;
 outline:0;
 transition-property:transform,visibility,opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
 bottom:0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
 bottom:-7px;
 left:0;
 border-width:8px 8px 0;
 border-top-color:initial;
 transform-origin:center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
 top:0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
 top:-7px;
 left:0;
 border-width:0 8px 8px;
 border-bottom-color:initial;
 transform-origin:center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
 right:0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
 border-width:8px 0 8px 8px;
 border-left-color:initial;
 right:-7px;
 transform-origin:center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
 left:0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
 left:-7px;
 border-width:8px 8px 8px 0;
 border-right-color:initial;
 transform-origin:center right
}

.tippy-box[data-inertia][data-state=visible] {
 transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)
}

.tippy-arrow {
 width:16px;
 height:16px;
 color:#333
}

.tippy-arrow:before {
 content:"";
 position:absolute;
 border-color:transparent;
 border-style:solid
}

.tippy-content {
 position:relative;
 padding:5px 9px;
 z-index:1
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}